{% load static %}

<div 
    id="app_layout_index"
    class= ""
>

    <div
        id=""
        class="
        lg:!flex lg:!justify-center lg:!h-32 lg:!items-center"
    >

        <div 
            id="header_section_index"
            class="header_section_index
            md:!block md:!border-b-0 md:!border-r-[1px] md:!w-40 md:!h-[100vh] md:!fixed
            lg:!static lg:!flex lg:!w-[95%] lg:!h-16 lg:!min-w-[60rem] lg:!border-none lg:!rounded-[5px] lg:!px-5 lg:!shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
        >

            <div
                id=""
                class="
                lg:!flex lg:!items-center lg:!gap-7"
            >   

                <a 
                    id=""
                    href=""
                    class="
                    md:!flex md:!justify-center md:!items-center md:!h-20"
                >
                    <span
                        class="global_font_logo header_logo 
                        md:!text-[2.4rem]"
                    >
                        intapes
                    </span>

                </a>

                <form 
                    action=""
                    id="header_search_form"
                    class="!hidden
                    lg:!flex header_search_props_form"
                >

                    <div
                        id=""
                        class="global_container_icons
                        relative"
                    >
                        <i 
                            class="fa-solid fa-magnifying-glass global_props_icon global_trans_effect_all
                            lg:!text-[15px] lg:!absolute lg:!left-[15px] pointer-events-none"
                        >
                        </i>
                    </div>

                    <input 
                        type="text"
                        placeholder="Search"
                    >

                </form>
            </div>

            <div
                id=""
                class="header_nav_icons
                md:!static md:!border-none md:!flex-col md:!mt-20 md:!gap-10
                lg:!flex-row lg:!mt-0 lg:!justify-center lg:!w-auto"
            >

                <div
                    id=""
                    class="global_container_icons"
                >
                    <i class="fa-solid fa-house global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="global_container_icons
                    lg:!hidden"
                >
                    <i class="fa-solid fa-magnifying-glass global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="global_container_icons
                    lg:!hidden"
                >
                    <i class="fa-regular fa-square-plus global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="global_container_icons
                    lg:!hidden"
                >
                    <i class="fa-solid fa-camera-retro global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="global_container_icons
                    md:!hidden"
                >
                    <i class="fa-regular fa-user global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="!hidden
                    md:!flex global_container_icons"
                >
                    <i class="fa-regular fa-bell global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="!hidden
                    md:!flex global_container_icons"
                >
                    <i class="fa-regular fa-message global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="!hidden
                    md:!hidden
                    lg:!flex global_container_icons"
                >
                    <i class="fa-regular fa-user global_props_icon global_trans_effect_all"></i>
                </div>

            </div>

            <div
                id=""
                class="header_icons
                md:!absolute md:!bottom-0 md:!flex-col md:!mb-10 md:!w-[139px]
                lg:!static lg:!w-auto lg:!flex-row lg:!mb-0
                lg:!hidden"
            >

                <div
                    id=""
                    class="!hidden
                    md:!flex global_container_icons"
                >
                    <i class="fa-regular fa-user global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="global_container_icons
                    md:!hidden"
                >
                    <i class="fa-regular fa-bell global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="global_container_icons
                    md:!hidden"
                >
                    <i class="fa-regular fa-message global_props_icon global_trans_effect_all"></i>
                </div>

                <div
                    id=""
                    class="!hidden
                    md:!flex global_container_icons"
                >
                    <i class="fa-solid fa-bars global_props_icon global_trans_effect_all"></i>
                </div>

            </div>

        </div>

    </div>

    <div
        id=""
        class="
        lg:!flex lg:!justify-center"
    >

        <div
            id="" 
            class="
            lg:!flex lg:!w-[95%] lg:!min-w-[60rem] "
        >

            hii    
            

        </div>


    </div>

</div>